@import 'client/styles/shared';

.LoginPage {
}

.LoginWell {
    background: #f8f8f8;
    border-radius: 4px;
    padding: 20px 30px 12px;
    margin-bottom: 20px;

    input[type="text"] {
        @include formfield-text;
        width: 300px;
    }
    .Button {
        background: #08c;
        color: #fff;
    }
    .Button.login-with-github {
        background: #111;
        border-color: #111;
    }
}